.pagination {
  list-style-type: none;
  cursor: pointer;
  margin: 4%;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
  max-width: 100%;
  height: auto;
  overflow: hidden;
  display: inline-block;
  margin: 4px 4px;
  justify-content: center;
}

.pagenr {
  border: 0px solid rgb(14, 15, 14);
  display: inline-block;
  height: 23px;
  width: 23px;
  color: rgb(253, 251, 251);
  background-color: rgb(247, 245, 245);
  padding: 2px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 15px;
  border-radius: 5px;
  margin: 4px 4px;

}

.pagenr:hover {
  background-color: rgb(97, 100, 98);
  transition: steps(0.5);
  box-shadow: 2px 2px 6px #090909;
}

span {
  color: rgb(230, 246, 8);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-shadow: 2px 2px 6px #050505;
}

a {

  color: black;
  text-decoration: none;

}

.arrowButton {
  background-color: transparent;
  border: transparent;
}

.arrowButton .arrow-icon {
  font-size: 24px;
  color: #000;
}