@import url("https://fonts.googleapis.com/css2?family=Manrope&display=swap");
:root{
    --manrope: "Manrope", sans-serif;
   
        --input-focus: #9AC71F;
        --font-color: #323232;
        --font-color-sub: #666;
        --bg-color: #fff;
        --main-color: #424242;
        /* #424242 */
}

*{
    font-family: var(--manrope);
    margin: 0;
    padding: 0;
}


h1{
    letter-spacing: 4px;
    font-weight: 500;
    font-size: 3rem;
    
}
