.user{
    display: grid;
    grid-template: 9fr 1fr / 1fr 2fr;
    margin: 2rem;
    background: black;
    border: 2px solid var(--main-color);
    box-shadow: 4px 4px var(--main-color);
    border-radius: 1rem;
    height: fit-content
}
.img{
    height: 30vh;
    align-self: center;
    justify-self: center;
    margin: 0px;
    padding: 0%;
    object-fit: cover;
}
.imgBox{
    display: flex;
    background-color: grey;
    height: 32vh;
    width: 25vw;
    width: fit-content;
    align-items: center;
    justify-content: center;
    border-radius: 1rem;
    margin:1rem
}

.data{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 90%;
}

.data img{
    height: 7rem;
    margin-top: 1rem;
}
.title {
    grid-area: 1 / 1 / 3 / 2;
    display: flex;
    width: 80%;
    text-align: center;
    align-items: center;
    color: white;
    margin: 2rem;
    border-radius: 1rem;
    flex-direction: column;
    background: linear-gradient( rgb(53, 51, 51), black);
    border: 2px solid var(--main-color);
    box-shadow: 4px 4px var(--main-color);
    border-radius: 1rem;
    height: 90%;
}
.notFound{
    width: 100%;
    color:white;
    justify-content: center;
    text-align: center;
}
.games{
    grid-area: 1 / 2 / 2 / 3;
    width: 100%;
}

.gameContainer{
    
    display: grid;
    grid-template-columns: 2fr 3fr 2fr ;
    background: black;
    border: 2px solid var(--main-color);
    box-shadow: 4px 4px var(--main-color);
    margin: 2rem;
    border-radius: 1rem;
    max-height: 40vh;
    height: 27%;
    width: 90%;
}
h1{
    font-size: 3rem;
    color: #9AC71F;
    padding: 0.5rem;
    font-weight: bold;
}
h2{
    padding: .5rem;
}
.containerImage {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.containerImage img{
    height: 12rem;
    width: 12rem;
    object-fit: cover;
    border-radius: 10px;
    
}

.containerImageReservation{
    grid-area: 1 / 1 / 2 / 2;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.containerImageReservation img {
    height: 10rem;
}

.imageActivity{
    height: 80%;
}

.containerData {
    grid-area: 1 / 2 / 2 / 3;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-self: top;
    width: 100%;
    height: 100%;
    font-size: 24px;
    overflow: auto;
}
.buttonContainer {
    grid-area: 2 / 2 / 3 / 4;
    display: flex;
    justify-content: center;
    margin: auto;
    width: 100%;
}
.backButton {
    border: none;
    border: 2px solid var(--main-color);
    background-color: var(--bg-color);
    box-shadow: 4px 4px var(--main-color);
    background: none;
    width: 7rem;
    height: 2rem;
    color: white;
    border-radius: 2rem;
    transition: .5s;
    cursor: pointer;
   
    text-transform: uppercase;
    letter-spacing: 4px;
    font-weight: bold;
}
.backButton:hover {
    scale: 1.2;
    background-color: #9AC71F;
}
.backButton a:link, a:visited, a:active {
    text-decoration:none;
    color: white;
}
.btn {
    border: none;
    border: 2px solid var(--main-color);
    background-color: var(--bg-color);
    box-shadow: 4px 4px var(--main-color);
    background: none;
    height: 35px;
    width: 12rem;
    transition: all .5s;
    cursor: pointer;
    margin-bottom: 2rem;
    text-transform: uppercase;
    font-weight: bold;
    border-radius: 5px;
    color: white;
    opacity: 0.8;
    text-align: center;
    letter-spacing: 1px;
    display: flex;
    align-items: center;
    justify-content: center;
}
  
.btn:hover {
    background-color: white;
    color: black;
}

.btn:hover a{
    color: black;
    transition: all .5s;
}
.reserva{
    text-align: center
}

.pagination {
  display: flex;
  justify-content: center;
}

.paginationButton {
  background-color: transparent;
  color: #9ac71f;
  border: none;
  margin-right: 10px;
  cursor: pointer;
}

.paginationButton:hover {
  text-decoration: underline;
}

.paginationButton.active {
  color: white;
  font-weight: bold;
}
.nav:hover{
    color: black;
}

.popup,
.container button {
 justify-content: center;  
}
.popup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(33, 32, 32, 0.559);
    padding: 20px;
    box-shadow: 0 15px 25px rgba(80, 79, 79, 0.896);
    z-index: 9999;
    border-radius: 13px;
    width: 40%;
    height: auto;
    justify-content: center;
    text-align: center;
    font-family: inherit;
    color: white;
  }
  
  .popup h2 {
    font-weight: bold;
    text-shadow: 2px 2px var(--main-color), 2px 2px rgba(242, 242, 242, 0.361);
    text-transform: uppercase;
    letter-spacing: 8px;
    color: #fff;
    text-align: center;
    margin-bottom: 1rem;
      
  }
  
  .popup h4 {
    font-size: 19px;
    margin-top: 7px;
  }

  .popupp{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(33, 32, 32, 0);
    padding: 20px;
    
    z-index: 9999;
    border-radius: 13px;
    width: 40%;
    height: auto;
    justify-content: center;
    text-align: center;
    font-family: inherit;
    color: white;
  }
  
.container {
    display: flex;
    flex-direction: column;
    align-items: center;    
  }
 
  .btnCancel:hover {
  height: 60%;
  width: 90%;
  font-size: 21px;
}
.btnCancel {
  height: 80%;
  width: 100%;
  font-size: 19px;
  border-radius: 13px;
  font-weight: bold;
  border: none;
  transition: height 0.3s ease, width 0.3s ease, font-size 0.3s ease;
}

.btnCancel {
  background-color: #60615e;
  color: #FDF2E9;
  margin-top: 7px;
}
.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 9998;
  }

  .editarBtn {
    height: 80%;
    width: 100%;
    font-size: 19px;
    border-radius: 13px;
    font-weight: bold;
    border: none;
    transition: height 0.3s ease, width 0.3s ease, font-size 0.3s ease;
  }
  
  .editarBtn {
    background-color: #9AC71F;
    color: #FDF2E9;
    margin-top: 7px;
  }
  .editarBtn:hover {
    height: 60%;
    width: 90%;
    font-size: 21px;
  }
  .buttons{
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
   
  }