.failure{
    color:white;
    background-color: black;
}
.check{
    height: 17vh;
    margin-top: 2rem;
    margin-bottom: 1rem;
}
.image{
    color:white;
    display: flex;
    align-items: center;
    margin-top: .5rem;
    margin-bottom: .5rem;
}
.nav{
    margin:5vw;
    color:white;
    background-color: #94b447;
    padding: 1%;
    border-radius: 2em;

} 

.nav a:hover {
    color: white;
  }
.nav:hover{
    background-color: #93b4476e;
    color:white
  }
  .btn {
    border: none;
    border: 2px solid var(--main-color);
    background-color: var(--bg-color);
    box-shadow: 4px 4px var(--main-color);
    background: none;
    height: 35px;
    width: 12rem;
    transition: all .5s;
    cursor: pointer;
    margin: 1rem;
    text-transform: uppercase;
    font-weight: bold;
    border-radius: 5px;
    color: white;
    opacity: 0.8;
    text-align: center;
    letter-spacing: 1px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .btn:hover {
    background-color: white;
    color: black;
  }
  .btn:hover a{
    color: black;
    transition: all .5s;
  }
  .column{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}
.h1{
    display: flex;
    text-align: center;
    flex-direction: column;
    align-items: center;
}
.buttons{
    display: flex;
    flex-direction: row;
}
.navlink:hover{
    color: black;
  }
  .receipt{
    justify-content: center;
    text-align: center;
    margin: 1rem;
}