@import url("https://fonts.googleapis.com/css2?family=Manrope&display=swap");

:root {
  --manrope: "Manrope", sans-serif;
}

body {
  background-color: black;
}

.background {
  background-color: black;
}

.nav {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 10rem;
  width: 100%;
  padding-bottom: -2rem;
  margin-top: -1rem;
  gap: 1rem;
}

.filtersContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
}

.filtersContainer .filters select {
  border: none;
  border: 2px solid white;
  background-color: var(--bg-color);
  background: none;
  box-shadow: 4px 4px white;
  height: 35px;
  width: 12rem;
  transition: 0.5s;
  cursor: pointer;
  transform: translate(20%);
  text-transform: uppercase;
  /* font-weight: bold; */
  border-radius: 5px;
  color: white;
  /* opacity: 0.8; */
  text-align: center;
  letter-spacing: 4px;
}

.filters option {
  background: black;
  color: white;
  opacity: 0.8;
}

.filtersContainer .filters select:active {
  box-shadow: 2px 2px 10px #919191 inset;
}

.container {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  margin-top: 2em;
  gap: 1rem;
  justify-content: space-around;
  align-items: center;
}

.btn {
  width: 12rem;
  height: 35px;
  border-radius: 5px;
  border: 2px solid white;
  /* background-color: var(--bg-color); */
  box-shadow: 4px 4px white;
  font-size: 17px;
  font-weight: 600;
  color: white;
  cursor: pointer;
  /* opacity: 0.8; */
  text-align: center;
  letter-spacing: 4px;
  margin: 0 0 0 3rem;
  font-weight: 500;
}

@keyframes gradient {
  0% {
    background-position: 0 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0 50%;
  }
}

.btn:hover {
  overflow: hidden;
  position: relative;
  background: linear-gradient(-45deg, #bbf86b, #59e65e, #65ee9ced, #6ee659);
  background-size: 1000% 1000%;
  animation: gradient 3s ease infinite;
  transition-duration: 0.1s;
}

.btn:active {
  transform: translate(2px, 2px);
  transition-duration: 0.1s;
}

.nav .search {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

/* DEJAR ESTO SIEMPRE AL FINAL */
/* RESPONSIVE DESIGN */

@media (max-width: 768px) {
  .nav {
    height: auto;
    padding-bottom: 0;
    margin-top: 0;
  }

  .filtersContainer {
    flex-direction: column;
    gap: 0.5rem;
  
  }

  .filtersContainer .filters select {
    width: 100%;
    margin-bottom: 0.5rem;
    transform: none;
  }

  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    margin-top: 1rem;
  }

  .btn {
    margin: 0;
  }

  .nav .search {
    flex-direction: column;
    gap: 0.5rem;
  }
}