.mainContainer {
    min-height: 67vh;

}

.title {
    width: 100%;
    padding-left: 1.5rem;
    padding-top: 1.5rem;
}

.buttonContainer {
    display: flex;
    justify-content: center;
    margin: 1rem 0 1rem 0;
}

.storeContainer {
    overflow: auto;
    display: flex;
    flex-wrap: wrap;
    border: 1px solid rgba(179, 255, 104, 0.666); 
    border-radius: 15px;
    background-color: black;
    background-repeat: no-repeat;
    margin: 2rem;
}

.map {
    width: 25%;
    height: 22.5rem;
    text-align: center;
    justify-content: center;
    align-items: center;

    padding: 3rem 1.5rem 3rem 1.5rem;
    margin-left: 1.5rem;

    display: flex;
}

.map iframe {
    height: 100%;
}

.containerData {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-self: top;

    width: 45%;
    height: 22.5rem;
    min-width: 20rem;

    font-size: 30px;
}

.containerImage {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;


    width: 25%;
    height: 22.5rem;
    min-width: 20rem;
    margin-left: 1.5rem;
}

.data {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-self: top;
    margin: 10px;
    height: 350px;
    width: 95%;
}

.image {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;


    width: 100%;
    height: 100%;
    border-radius: 15px;
    padding: 3rem 1.5rem 3rem 1.5rem;
}

.calendar {
    border-color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self: center;
    font-size: medium;
    margin-left: 80px;
}

.backButton {
    align-self: center;
    cursor: pointer;
    height: 35px;
    border-radius: 50px;
    border: 1px solid rgba(179, 255, 104, 0.666);
    color: white;
    outline: none;
    margin-right: 20px;
    padding: 0 20px 0 20px;
    text-align: center;
    transition: all 0.3s;
    font-family: var(--manrope);
    background: transparent;
    letter-spacing: 1px;
    transition: .5s;
}


.backButton:hover {
    scale: 1.2;
}

.backButton a:link, a:visited, a:active {
    text-decoration:none;
    color: white;
}