body {
  background: linear-gradient(#000000, #0a1017);
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.form {
  position: relative;
  width: 25rem;
  height: auto;
  background-color: rgba(33, 32, 32, 0.559);
  box-shadow: 0 15px 25px rgba(80, 79, 79, 0.896);
  font-size: 14px;
  font-family: inherit;
  color: white;
  border-radius: 16px;
  margin-bottom: 5rem;
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 1rem;
  padding: 3rem 0;
}

.form h2 {
  font-weight: bold;
  text-shadow: 2px 2px var(--main-color), 2px 2px rgba(242, 242, 242, 0.361);
  text-transform: uppercase;
  letter-spacing: 8px;
  color: #fff;
  text-align: center;
  margin-bottom: 1rem;

}

.text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}


.content{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  
}

/* .arrow {
  cursor: pointer;
  position: absolute;
  object-position: center;
  top: 50%;
  right: 88%;
  transform: translate(0%);
}
*/
.arrow:hover {
  transform: translate(0%) scale(1.2);
  cursor: pointer;
} 

.btn {
  border: none;
  border: 2px solid var(--main-color);
  background-color: var(--bg-color);
  box-shadow: 4px 4px var(--main-color);
  background: none;
  width: 7rem;
  height: 2rem;
  color: white;
  border-radius: 0.5rem;
  transition: 0.5s;
  cursor: pointer;
  transform: translate(0%);
  text-transform: uppercase;
  letter-spacing: 4px;
  font-weight: bold;
  background-color: #333;
  font-size: 0.7rem;
  margin: .5rem 0
}

.btn:hover {
  transform: translate(0%) scale(1.1);
}

.text {
  gap: 1rem;
}

.text input {
  width: 13rem;
  height: 40px;
  border-radius: 5px;
  border: 2px solid var(--main-color);
  background-color: var(--bg-color);
  box-shadow: 4px 4px var(--main-color);
  font-size: 15px;
  font-weight: 600;
  color: var(--font-color);
  padding: 5px 10px;
  outline: none;
  margin-bottom: 3px;
}

.text input:focus {
  outline: none;
  border-color: #9AC71F;
  box-shadow: 0 0 4px #9AC71F;
}

.text input::placeholder {
  /* color: white; */
  color: var(--font-color-sub);
  opacity: 0.8;
  text-align: center;
}

.googleContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  transform: translate(0%);
}

.googleContainer:hover{
  transform: translate(0%) scale(1.1);
}

.error {
  color: white;
  font-size: 14px;
  margin-top: 4px;
}

.form p{
  margin: -.1rem 0;
  font-weight: bold;
  text-shadow: 0px 0px var(--main-color), 0px 0px rgba(0, 0, 0, 0.361);
  text-transform: uppercase;
  letter-spacing: 5px;
  color: #fff;
  text-align: center;
  margin-bottom: 1rem;
  font-size: 7px;
}

.navlink {
  text-decoration: none;
}

.navlink p {
  margin: -.1rem 0;
  font-weight: bold;
  text-shadow: 0px 0px var(--main-color), 0px 0px rgba(242, 242, 242, 0.361);
  text-transform: uppercase;
  color: #fff;
  text-align: center;
  margin-bottom: 1rem;
  font-size: 5px;
  position: absolute;
  bottom: 18px;
  right: 20px;
  transform: translate(0%);
}

.navlink p:hover {
  transform: translate(0%) scale(1.2);
}

.account{
  font-weight: bold;
  text-shadow: 0px 0px var(--main-color), 0px 0px rgba(242, 242, 242, 0.361);
  text-transform: uppercase;
  color: #fff;
  text-align: center;
  font-size: 5px;
  position: absolute;
  bottom: 0;
  right: 5%;
  transform: translate(0%);
  
}

.account p:hover {
  transform: translate(0%) scale(1.1);
}

.p1Login{
  font-size: 9px !important;
  margin: 10px 0px 0px 0px !important;
  font-family: "Manrope", sans-serif;
}

.p2Login{
  font-size: 9px !important;
  font-family: "Manrope", sans-serif;
}