@import url("https://fonts.googleapis.com/css2?family=Manrope&display=swap");
/* .container{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;

    background-color: aquamarine;
    border: solid 3px black;
    border-radius: 10px;
    width: 300px;
    height: 500px;
}

.sucursalName{
    position: absolute;
    top: -20px;
    left: 15px;
}

.nameContainer{
    margin-top: 50px;
}

.cardImg{
    height: 300px;
    width: 250px;
}

.priceTxt{
    font-size: larger;
} */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.card {
  width: 18rem;
  height: 25rem;
  padding: 2em 1em;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  transition: 0.5s ease-in-out;
  border-radius: 1rem;
  border: 1px solid var(--main-color);
  background-color: var(--bg-color);
  box-shadow: 2px 2px var(--main-color);
  overflow: hidden;

}

.card:hover {
  transform: translateY(20px);
}

.card:hover:before {
  opacity: 1;
}

.card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 1em;
}

.sucursal {
  position: absolute;
  top: 0%;
  left: 0%;
  color: #ffffff;
  font-weight: normal;
  background-color: #010101a5;
  width: 8rem;
  height: 2rem;
  border-radius: .7rem 0;
  text-transform: capitalize;
  font-size: 1.2rem;
  letter-spacing: 2px; 
  text-align: center;
}

.sucursal:first-letter {
  text-transform: uppercase;
}

.navlink {
  text-decoration: none;
}

.info {
  position: absolute;
  bottom: -100%;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  backdrop-filter: blur(6px);
  transition: all 0.3s;
  overflow: hidden;
  border-radius: 1em;
  background-image: linear-gradient(to bottom, rgba(25, 157, 96, 0.472), rgba(27, 84, 170, 0.738));
  
}

.card:hover .info {
  bottom: 0;
}

.content .text {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.text h3 {
  font-weight: bold;
  text-shadow: 2px 2px var(--main-color), 2px 2px rgba(0, 0, 0, 0.754);
  text-transform: uppercase;
  letter-spacing: 8px;
  color: #fff;
  text-align: center;
  font-size: 35px;
  text-align: center;
  transform: translateY(10px);
  opacity: 0;
  transition: all 0.5s;
  font-family: var(--manrope);
}

.card:hover .text h3 {
  opacity: 1;
}

.description {
  width: 60%;
  margin: 10px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 20px;
}

.description h4 {
  color: #fff;
  text-shadow: 2px 2px var(--main-color), 2px 2px rgba(0, 0, 0, 0.754);
  text-align: center;
  font-size: 16px;
  opacity: 0;
  transform: translateY(40px);
  transition: all 0.5s;
  font-family: var(--manrope);
  font-weight: bold;
  padding: .2rem;
  
  
}

.card:hover .description h4 {
  transform: translateY(10px);
  opacity: 1;
}

