.label{
    color: white;
    font-size: large;
}
.divInput{
    color: #9AC71F;
}
.input{
    color:black;
}
.error{
    font-size: 15px;
    color:crimson;  
}
.editarBtn {
  border: none;
  border: 2px solid var(--main-color);
  background-color: var(--bg-color);
  box-shadow: 4px 4px var(--main-color);
  background: none;
  height: 35px;
  width: 12rem;
  transition: all .5s;
  cursor: pointer;
  margin-bottom: 2rem;
  margin:1rem;
  text-transform: uppercase;
  font-weight: bold;
  border-radius: 5px;
  color: white;
  opacity: 0.8;
  text-align: center;
  letter-spacing: 1px;
  display: flex;
  align-items: center;
  align-self: center;
  align-content: center;
  justify-content: center;
}
.editarBtn:hover a{
  color: black;
  transition: all .5s;
}
.editarBtn:hover {
  background-color: white;
  color: black;
}
.editarBtn:disabled{
  color: rgb(110, 110, 110);
  transform: none;
  cursor:default;
  background: none;
}
.editarBtn:disabled::before{
  color: rgb(110, 110, 110);
  transform: none;
  background: none;
}
  .inputForm {
    width: 30rem;
    height: 40px;
    border-radius: 5px;
    border: 2px solid var(--main-color);
    background-color: var(--bg-color);
    box-shadow: 4px 4px var(--main-color);
    font-size: 15px;
    font-weight: 600;
    color: var(--font-color);
    padding: 5px 10px;
    outline: none;
    margin-bottom: 3px;
  }
  
  .inputForm input::placeholder{
    color: var(--font-color-sub);
    opacity: 0.8;
  }
  .inputPass {
    width: 26rem;
    height: 40px;
    border-radius: 5px;
    border: 2px solid var(--main-color);
    background-color: var(--bg-color);
    box-shadow: 4px 4px var(--main-color);
    font-size: 15px;
    font-weight: 600;
    color: var(--font-color);
    padding: 5px 10px;
    outline: none;
    margin-bottom: 3px;
  }
  
  .inputPass input::placeholder{
    color: var(--font-color-sub);
    opacity: 0.8;
  }
  
  input:focus {
    border: 2px solid var(--input-focus);
  }
  .toggleButton {
    font-size: 1.5rem; 
    padding: 0 20px; 
  }
  .imagepreview {
    display: flex;
    flex-wrap: wrap;
    margin-top: 10px;
  }
  
  .imagecontainer {
    border-radius: 3rem;
    justify-content: center;
    margin-bottom: 2rem;
    object-fit: cover;
    display: inline-block;
  }
  
  .imagepreview img {
    width: 15rem;
    height: 15rem;
    object-fit: cover;
    border-radius: 2rem;
  }
  
.removebutton {
  border: none;
  color: white;
  cursor: pointer;
  border: none;
  background: none;
}

/* DEJAR ESTO SIEMPRE AL FINAL */
/* RESPONSIVE DESIGN */

@media (max-width:768px){
  .imagepreview{
  justify-content: center;
  }

}
