.mainConatiner{
    display: flex;
    align-items: flex-start;
    justify-content: center;
    background-color:#9AC71F;
    height: 250px;
    width: 100%;
    position: relative;
    bottom: 0;
    left: 0;
}
.content{
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    right: 2%;
    gap: 1rem;
    flex-direction: row-reverse;
    width: 100%;
}

.enlaceRedes {
    height: 30px;
    width: 30px;
    margin: 5%;
    white-space: nowrap;
    translate: 2s;
}
.enlaceRedes:hover {
    transform: scale(1.2);
    
}

.navlink{
    text-decoration: none;
    opacity: 0.8;
    color: #000;
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 2px;

}
.navlink:hover {
  opacity: 3;
  
}
.logo{
    height: 100px;
    width: 350px;
}

.box {
    width: 100%;/* Puedes ajustar el ancho según tus necesidades */
    margin: 0 7%; /* Puedes ajustar el margen según tus necesidades */
    background-color: transparent;
    display: inline-block;
    margin-top: 2rem;
  }