
.principal {
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    padding: 30px;
    justify-content: space-between;
  }
  
  .principal .inputSearch {
    position: relative;
  }
  
  .principal .inputSearch input {
    height: 35px;
    border-radius: 50px;
    border: 1px solid #c4c4c4;
    color: #75706f;
    outline: none;
    padding: 0 50px 0 30px;
  }
  
  .principal .inputSearch input::placeholder {
    letter-spacing: 3px;
    color: #303030;
  
    font-family: var(--manrope);
  }
  
  .principal .inputSearch .icon {
    cursor: pointer;
    position: absolute;
    top: 0;
    right: 0;
    width: 50px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }