@import url("https://fonts.googleapis.com/css2?family=Manrope&display=swap");
:root{
    --manrope: "Manrope", sans-serif;
   
        --input-focus: #9AC71F;
        --font-color: #323232;
        --font-color-sub: #666;
        --bg-color: #fff;
        --main-color: #424242;
        /* #424242 */
}
.mainContainer{
    display: grid;
    grid-template-rows: 4rem ;
    grid-template-columns:  repeat(2, 1fr);

    width: 100%;
    font-family: var(--manrope);
}

.graphReservationsPerStore{
    display: grid;
    grid-template: 2rem 1fr 2rem / 1fr 1fr;
    height: 30rem;
    margin: 1rem;
    padding: 1rem;
    border: 1px solid #9ac71f;
    border-radius: 5px;
    font-family: var(--manrope);
}

.graphReservationsPaid{
    display: grid;
    grid-template: 2rem 1fr 2rem / 1fr 1fr;
    height: 30rem;
    margin: 1rem;
    padding: 1rem;
    border: 1px solid #9ac71f;
    border-radius: 5px;
    font-family: var(--manrope);
}

.graphEarnings{
    display: grid;
    grid-template: 2rem 1fr 2rem / 1fr 1fr;
    height: 30rem;
    margin: 1rem;
    padding: 1rem;
    border: 1px solid #9ac71f;
    border-radius: 5px;
    font-family: var(--manrope);
}

.graphPerMonth{
    display: grid;
    grid-template: 2rem 1fr 2rem / 1fr 1fr;
    height: 30rem;
    margin: 1rem;
    padding: 1rem;
    border: 1px solid #9ac71f;
    border-radius: 5px;
    font-family: var(--manrope);
}

.title{
    grid-area: 1 / 1 / 3 / 2;
    font-family: var(--manrope);
}

.filter{
    grid-area: 1 / 1 / 2 / 3;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-left: 1.5rem;
    margin-right: 1.5rem;
    font-family: var(--manrope);
}

.labelInput{
    color: white;
    width: 70%;
    font-family: var(--manrope);
}

.inputDate{
    width: 30%;
    border: 2px solid var(--main-color);
    box-shadow: 4px 4px var(--main-color);
    color: white;
    background-color: rgba(251, 248, 248, 0.202);
    font-family: var(--manrope);
}

.filter button{
    width: 15rem;
    height: 35px;
    border-radius: 5px;
    border: 2px solid var(--main-color);
    box-shadow: 4px 4px var(--main-color);
    color: white;
    cursor: pointer;
    text-align: center;
    letter-spacing: 4px;
    font-weight: bold;
    text-transform: uppercase;
    font-family: var(--manrope);
}

.graphContainer{
    grid-area: 2 / 1 / 3 / 2;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 75%;
    height: 75%;
    margin: 3rem;
    font-family: var(--manrope);
}

.dataTable{
    grid-area: 2 / 2 / 3 / 3;
    color: white;
    display:grid;
    width: 100%;
    grid-template-rows: repeat(1rem);
    text-align: center;
    letter-spacing: .3rem;
    font-size: 1.4rem;
    font-family: var(--manrope);
}

.dataTableMonths{
    grid-area: 2 / 2 / 3 / 3;
    font-family: var(--manrope);
    color: white;
    display:grid;
    width: 100%;
    grid-template-columns: repeat(2, 1fr);
    text-align: center;
    letter-spacing: .3rem;
    font-size: 1.2rem;
}

.total{
    grid-area: 3 / 1 / 4 / 3;
    font-family: var(--manrope);
    color: white;
    letter-spacing: .3rem;
    font-size: 1.3rem;
    text-align: center;
}

.dataTable p {
    font-family: var(--manrope);
    text-transform: capitalize;
}