.mainContainer{
    display: grid;
    grid-template-rows: 4rem ;
    grid-template-columns:  repeat(2, 1fr);

    width: 100%;
}

.graphReservationsPerStore{
    display: grid;
    grid-template: 2rem 1fr 2rem / 1fr 1fr;
    height: 30rem;
    margin: 1rem;
    padding: 1rem;
    border: 1px solid #9ac71f;
    border-radius: 5px;
}

.graphReservationsPaid{
    display: grid;
    grid-template: 2rem 1fr 2rem / 1fr 1fr;
    height: 30rem;
    margin: 1rem;
    padding: 1rem;
    border: 1px solid #9ac71f;
    border-radius: 5px;
}

.graphEarnings{
    display: grid;
    grid-template: 2rem 1fr 2rem / 1fr 1fr;
    height: 30rem;
    margin: 1rem;
    padding: 1rem;
    border: 1px solid #9ac71f;
    border-radius: 5px;
}

.graphPerMonth{
    display: grid;
    grid-template: 2rem 1fr 2rem / 1fr 1fr;
    height: 30rem;
    margin: 1rem;
    padding: 1rem;
    border: 1px solid #9ac71f;
    border-radius: 5px;
}

.title{
    grid-area: 1 / 1 / 3 / 2;
}

.filter{
    grid-area: 1 / 1 / 2 / 3;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-left: 1.5rem;
    margin-right: 1.5rem;
}

.labelInput{
    color: white;
    width: 70%;
}

.inputDate{
    width: 30%;
    border: 2px solid var(--main-color);
    box-shadow: 4px 4px var(--main-color);
    color: white;
    background-color: rgba(251, 248, 248, 0.202);
}

.filter button{
    width: 15rem;
    height: 35px;
    border-radius: 5px;
    border: 2px solid var(--main-color);
    box-shadow: 4px 4px var(--main-color);
    color: white;
    cursor: pointer;
    text-align: center;
    letter-spacing: 4px;
    font-weight: bold;
    text-transform: uppercase;
}

.graphContainer{
    grid-area: 2 / 1 / 3 / 2;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 75%;
    height: 75%;
    margin: 3rem;
}

.dataTable{
    grid-area: 2 / 2 / 3 / 3;
    color: white;
    display:grid;
    width: 100%;
    grid-template-rows: repeat(1rem);
    text-align: center;
}

.dataTableMonths{
    grid-area: 2 / 2 / 3 / 3;
    color: white;
    display:grid;
    width: 100%;
    grid-template-columns: repeat(2, 1fr);
    text-align: center;
}

.total{
    grid-area: 3 / 1 / 4 / 3;
    color: white;
}

.dataTable p {
    text-transform: capitalize;
}